<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero Imagined</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Hero Imagined</h1>
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
    <footer class="tiny-footer">
      ✨ Version 1.1, Made by ccc. 2025.12
    </footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
